<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ServletMovieTicket</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.bitwise.ServletMovieTicket.controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddMoviesShow</servlet-name>
    <servlet-class>com.bitwise.ServletMovieTicket.controller.AddMoviesShow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMoviesShow</servlet-name>
    <url-pattern>/AddMoviesShow</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MovieHandler</servlet-name>
    <servlet-class>com.bitwise.ServletMovieTicket.controller.MovieHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieHandler</servlet-name>
    <url-pattern>/MovieHandler</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>ValidatorFilter</filter-name>
    <filter-class>com.bitwise.ServletMovieTicket.controller.ValidatorFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ValidatorFilter</filter-name>
    <url-pattern>/Login</url-pattern>
  </filter-mapping>
  
  
  

</web-app>